.message {
    height: auto;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.message-content {
    width: auto;
    height: auto;
    min-height: 30px;
    max-width: 180px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    overflow-wrap: break-word;
    word-break: break-word;
}

#you {
    align-items: flex-end;
}

#you .message-content {
    border: 2px solid green;
}

#other {
    align-items: flex-start;
}

#other .message-content {
    border: 2px solid purple;
}

.message-meta {
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

.message-meta #author {
    font-weight: bold;
}